.mv-offer {
  background-color: darkolivegreen;
  height: 150px;
  width: 100%;

  .mv-hold {
    //background-color: sandybrown;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-weight: 100;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;

    .loot {
      padding-top: 40px;
      background-color: rgb(13, 2, 26);
      height: 100%;
      width: 400px;
      cursor: pointer;
      font-size: 120%;
    }
    .ship {
      padding-top: 40px;
      background-color: rgb(13, 2, 26);
      height: 100%;
      width: 400px;
      cursor: pointer;
      font-size: 120%;
    }
    .show {
      padding-top: 40px;
      background-color: rgb(13, 2, 26);
      height: 100%;
      width: 400px;
      cursor: pointer;
      font-size: 120%;
    }
    .stat {
      padding-top: 40px;
      background-color: rgb(13, 2, 26);
      height: 100%;
      width: 400px;
      cursor: pointer;
      font-size: 120%;
    }
    .submit {
      //margin-top: 10px;
      //margin-left: 150px;
      width: 133px;
      height: 30px;
      background-color: rgb(42, 4, 85);
      //border-radius: 30px;
      border: 1px solid transparent;
      font-size: 15px;
      font-weight: 200;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      cursor: pointer;
    }
  }
}
