.mv-opt {
  height: 370px;
  width: 100%;
  background-color: rgb(13, 2, 26);
  display: flex;
  justify-content: space-evenly;
  .opt-right {
    height: 100%;
    width: 40%;
    background-color: rgb(13, 2, 26);
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 50px;

    h1 {
      color: white;
      font-size: 170%;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin-bottom: 50px;
    }
    p {
      color: white;
      font-size: 140%;
      font-weight: 200;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin-bottom: 30px;
    }
  }
  .opt-img {
    height: 100%;
    width: 60%;
    //background-color: darkred;
    display: flex;
    justify-content: space-evenly;

    .mv-one {
      height: 100%;
      width: 270px;
      background-color: rgb(42, 4, 85);
      .one-img {
        width: 100%;
        height: 50%;
        background-color: aqua;
        background-image: url(../images/mv-one.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .mv-two {
      height: 100%;
      width: 270px;
      background-color: rgb(42, 4, 85);
      .two-img {
        width: 100%;
        height: 50%;
        background-color: aqua;
        background-image: url(../images/mv-two.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .mv-three {
      height: 100%;
      width: 270px;
      background-color: rgb(42, 4, 85);
      .three-img {
        width: 100%;
        height: 50%;
        background-color: aqua;
        background-image: url(../images/mv-three.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .submit {
      margin-top: 270px;
      //margin-bottom: 100px;
      margin-left: 60px;
      width: 133px;
      height: 40px;
      background-color: rgb(13, 2, 26);
      //border-radius: 30px;
      border: 1px solid transparent;
      font-size: 15px;
      font-weight: 200;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      cursor: pointer;
    }
  }
}
