.tw-contest {
  height: 100%;
  width: 100%;
  background-color: #211e24; }
  .tw-contest .tw-hold {
    width: 100%;
    height: 100%;
    background-color: azure;
    background-image: url(../images/PME.jpg);
    background-size: cover;
    background-position: 50% 50%; }
    .tw-contest .tw-hold h2 {
      color: white;
      font-size: 250%;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .tw-contest .tw-hold .tw-right {
      width: 600px;
      height: 100%;
      background-color: #0d021a;
      text-align: left;
      font-weight: 400;
      padding: 60px;
      margin-left: 840px; }
      .tw-contest .tw-hold .tw-right h1 {
        color: white;
        font-size: 270%;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        margin-bottom: 50px; }
      .tw-contest .tw-hold .tw-right p {
        color: white;
        font-size: 240%;
        font-weight: 200;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        margin-bottom: 50px; }
      .tw-contest .tw-hold .tw-right .submit {
        margin-left: 150px;
        width: 133px;
        height: 40px;
        background-color: #2a0455;
        border: 1px solid transparent;
        font-size: 15px;
        font-weight: 200;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: white;
        cursor: pointer; }
