.hero {
  height: 100%;
  background-color: cornflowerblue;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/NFL20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .callout {
    color: white;
    font-family: sans-serif;
    text-align: right;
    margin-right: 100px;
    margin-bottom: 200px;

    h1 {
      font-size: 130%;
    }

    h4 {
      font-size: 70%;
    }
    .submit {
      //margin-top: 80px;
      //margin-bottom: 100px;
      margin-left: 400px;
      width: 133px;
      height: 40px;
      background-color: rgb(42, 4, 85);
      //border-radius: 30px;
      border: 1px solid transparent;
      font-size: 15px;
      font-weight: 200;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      cursor: pointer;
    }
  }
  .logo {
    font-size: 400%;
    color: whitesmoke;
    margin-bottom: 700px;
    margin-right: 500px;
    padding: 30px;
    span {
      font-size: 30%;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: thin;
    }
  }
}
